@charset "utf-8";

#div1{
    width: 200px;
    height: 200px;
    background-color: gray;
}

#div1 h3{
    color: red;
}


#div2{
    width: 200px;
    height: 200px;
    background-color: gold;
}

#div2 > h3{
    color: green;
}

/* #div2 h3{
    color: green;
} */

#div3 {background-color: beige; width: 200px; height: 200px;}
#div3 div h3 {color:red}
#div3 div div h3 {color: blue;}

#div4 ~ div{
    background-color: red;
}

#div4 + div{
    background-color: cornflowerblue;
}


#div5 h3:nth-child(2){
    background-color: purple;
}
#div5 h4:nth-child(6){
    background-color: peru;
}

#div5 h4:nth-of-type(3){
    background-color: violet;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div6, #div7, #div8{
    width: 200px;
    height: 200px;
}

#div6{
    background-color: #6799FF;
}

#div7{
    background-color: rgb(255, 178, 245);
}

#div8{
    background-color: rgba(255, 178, 245, 0.1);
}