@charset "utf-8";
#div1{background-color: red; text-align: center; width: 100px; height: 100px;}
#h1{background-color: gold; width: 100px; height: 100px;}
#span{background-color: green; width: 100px; height: 100px; display: block;}
#a{background-color: gray; width: 100px; height: 100px;}


/*  */

#div2 {background-color: gold; height: 100px; width: 100px;}
#div3 {background-color: aquamarine; height: 100px; width: 100px;}
#div4 {background-color: brown; height: 100px; width: 50px;}