@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div1{
    background-color: goldenrod;
    width: 300px;
    height: 300px;

    border: 15px solid #000;
    /* margin: 20px  0 0 0; */
    padding: 20px;
    margin: 0 auto;
}

#div2{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0 auto;
}
#div3{
    width: 200px;
    height: 200px;
    background-color: green;
}
#div3 div {
    width: 50px;
    height: 50px;
    background-color: gold;
    margin: 0 auto;
}

#span {
    background-color: gold;
    display: block;
    text-align: center;
}

/* #div4{
    width: 100px;
    height: 100px;
} */
