@charset "utf-8";

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#div1{
    width: 1200px;
    height: 1200px;
    border: 1px solid red;
    background-image: url(./img/IMG_5280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background: url(./img/20220709_112404.png) no-repeat center; */
}
#div1:hover{
    background-image: url(./img/img.png);
}

#div1 div{
    width: 50px;
    height: 50px;
}