@charset "utf-8";
*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    &:hover{
        border-bottom: 3px solid #000;
        padding-bottom: 5px;
        color: blue;
        transition: all 0.3s;
    }
}

ul,ol,li{
    list-style: none;
}


nav{
    width: 500px;
    background-color: antiquewhite;
}

nav ul {
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    height: 100px;
    justify-content: space-around;
}

nav ul li {
    border: 1px solid #000;
    width: 100px;
    text-align: center;
    /* padding: 10px 0px; */
    line-height: 20px;
    height: 50px;
    line-height: 50px;
}
