@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #000;

    background-color: gray;
}

.logo{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.logo img{
    border-radius: 50%;
}

nav{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
}


nav ul li a {
    color: #fff;
}

.left li a{
    font-size: 20px;
    &:hover{
        border-bottom: 1px solid cornflowerblue;
        padding-bottom: 5px;
        color:cornflowerblue;
        transition: all 0.5s;
    }
}

.right li a {
    font-size: 12px;
        &:hover{
        border-bottom: 1px solid cornflowerblue;
        padding-bottom: 5px;
        color:cornflowerblue;
        transition: all 0.5s;
    }
}







