@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#wrap{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}

#wrap div{
    background: url(./img/28b7660aa852791831960e986056c122.jpg) no-repeat center;
    width: 25%;
    height: 300px;
    margin: 0 auto;
    height: 300px;;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap div p {
    width: 80px;
    border: 1px solid #000;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
}
#wrap div p:hover{
    background-color: gray;
    color: #fff;
}