@charset "utf-8";

a{display: block;}

#wrap{
    border: 2px solid #000;
    padding: 15px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap{
    width: 200px;
}

#logo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#logo img:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: inherit;
}
.item{
    width: 200px;
    height: 350px;
    border-radius: 25px;
    border: 1px solid #000;
}
.item img{
    border-radius: 25px;
}
.item a:hover{
    border-bottom: 1px solid red;
}

.item div:last-child{
    color: blue;
    text-align: right;
}

button{
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    transition: 0.3s;
    &:hover{
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
}

.item{overflow: hidden;}
.item img{
    &:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}


#logo {overflow: hidden; width: 200px;  height: 200px;}
#logo img{
    &:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}